body {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.Header {
  font-size: 1.2rem;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  margin-bottom: 20px;
}

.Calculator {
  width: 300px;
  background-color: #121212;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid hsl(32, 100%, 65%);
}

.CalcDisplay {
  background-color: #000000;
  color: hsl(32, 100%, 65%);
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid #333333;
}

.CalcGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.CalcButton {
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #262626;
  color: #ffffff;
}

.CalcButton:hover {
  background-color: #3f3f3f;
  color: hsl(32, 100%, 65%);
}

.ClearButton {
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d90429;
  color: #ffffff;
}

.ClearButton:hover {
  background-color: #eb374c;
}